{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Django Tutorial</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/accounts/signup">Register</a>
            </li>
            <li>
                <a href="/accounts/signin">Sign In</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/articles">Articles</a>
            </li>
            <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="logout">
                </form>
            </li>
        </ul>
    </nav>
    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>